 
 @media (max-width: 600px) 
    .container ul {
    gap: 10px; /* Diminui o espaço entre os itens do menu */
    }

 @font-face{
    font-family: 'DMMono Italic'; /* Nome que você escolheu */
     src: url('fontes/DMMono-Italic.ttf') format('truetype'); /* Caminho e formato */
    font-weight: normal;
    font-style: normal;
 }
 
 body{
            height: 100vh;
            background-color: black;
            margin: 0;
            display: block;
            background-attachment: fixed;
            text-align: center;
        }

        div.bloco{
            width: 90%;
            max-width: 700px;
            height: 100px;
            padding: 10px;
            border: 1px solid black;
            margin: 20px auto;
            aspect-ratio: 7 / 1;
        }

        div#q1{
            background: black url('imagens/wallpaper02.02.png') no-repeat center center;
            background-size: contain;
        }

        .container{
            display: flex;
            justify-content: center;
            background-color: #595959;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            width: 90%;
            max-width: 800px;
            margin: auto;
        }

        .container ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 20px;
        }

        .container a{
            text-decoration: none;
            color: #333;
            font-family: sans-serif;
            font-weight: bold;
            color: black;
            transition: color 0.3s;
            font-size: 14px;
        }

        .container a:hover{
            background-color: gray;
            padding: 5px;
            border-radius: 10px;
            color: #F8F9FA; 
        }


        div#q2{
            max-width: 800px;
            min-height: 400px;
            width: 90%;
            height: auto;
            border: 1px solid #262626;
            margin: 20px auto;
            padding-bottom: 20px;
            box-shadow: inset;
            
            background-color: rgba(25, 25, 25, 0.8);
        }

        .corpo h3{
            margin: 25px;
            padding: 5px;
            text-align: center;
            font-family: DMMono Italic, serif;
            color: 	#E0E0E0;
            font-size: 1.2rem; 
            
        }
        
        .pagcentral h3:hover{
            background-color: #262626;
            border-radius: 5px;
            max-width: 100%;
        }

        .badge:hover ~ p, h3:has(.badge:hover) + p {
            display: block;
            color: white;
            font-weight: normal;
        }

        .pagcentral p{
            max-width: 90%;
            margin: 20px auto;
            text-align: justify;

            background-color: transparent;
            border-radius: 5px;
            padding: 0;
            text-indent: 30px;
            margin: 30px;

            font-family: 'Times New Roman', Times, serif;
            font-size: 1.2rem;
            font-style: italic;
            color: black;
            gap: 10px;

            display: none;
        }

       

        